<div class="alert alert-danger" role="alert">
  <h3 class="alert-heading" style="margin-button:3rem">Empty Cart!</h3>
  <hr>
  <p>Go back to the Home page: <a href="/" class="alert-link">CLICK HERE</a></p>
</div>